In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
# Load the simulated log data CSV file into a DataFrame
log_data_df = pd.read_csv("funolympic_data.csv")

In [3]:
log_data_df.head

<bound method NDFrame.head of           Time        Date      IP Address Sport Viewed  Country Continent  \
0     09:43:00  2022-01-16    171.99.21.71     Football  Nigeria    Africa
1     14:07:00  2022-01-01  168.142.49.184   Basketball  Nigeria    Africa
2     15:34:00  2022-01-07    50.161.76.72       Tennis  Nigeria    Africa
3     00:46:00  2022-01-19     123.49.9.77     Swimming  Nigeria    Africa
4     19:35:00  2022-01-20   4.104.251.237      Netball  Nigeria    Africa
...        ...         ...             ...          ...      ...       ...
6475  03:40:00  2022-12-13    161.97.22.66     Football     Fiji   Oceania
6476  13:25:00  2022-12-07  117.99.115.127   Basketball     Fiji   Oceania
6477  22:15:00  2022-12-17   197.46.59.203       Tennis     Fiji   Oceania
6478  09:54:00  2022-12-01     72.45.21.83     Swimming     Fiji   Oceania
6479  22:48:00  2022-12-15   85.126.80.159      Netball     Fiji   Oceania

           Gender  Age  Season  Session Duration  Engagement Time  \
0            Male   33  Summer              9601             9495
1            Male   42  Summer              1345              846
2            Male   52  Summer              3725             1484
3            Male   24  Summer             10008             4033
4            Male   32  Summer              7812             5837
...           ...  ...     ...               ...              ...
6475  Transgender   35  Winter              2371             1772
6476  Transgender   52  Winter             11060             7235
6477  Transgender   58  Winter              9454             2444
6478  Transgender   20  Winter              9094             6123
6479  Transgender   55  Winter              1098              358

              Request  Rating  \
0          wp-content       5
1              search       1
2          posts/blog       5
3       posts/explore       3
4                list       5
...               ...     ...
6475              tag       1
6476      posts/posts       3
6477  categories/main       5
6478              tag       1
6479    main/category       4

                                               Feedback     Month
0              Pretty less grow down mind end strategy.   January
1                       Goal system pick pull fish car.   January
2                      Task attention identify account.   January
3                                Car ago decade family.   January
4                  Huge performance every organization.   January
...                                                 ...       ...
6475                              Response speak night.  December
6476                          Dark box through citizen.  December
6477     Fire color probably allow current his produce.  December
6478  Weight voice wear technology doctor until system.  December
6479       Source fund little age night out line where.  December

[6480 rows x 15 columns]>

In [4]:
# Check data types of each column
data_types = log_data_df.dtypes
print("\nData types of each column:")
print(data_types)

Data types of each column:
Time                object
Date                object
IP Address          object
Sport Viewed        object
Country             object
Continent           object
Gender              object
Age                  int64
Season              object
Session Duration     int64
Engagement Time      int64
Request             object
Rating               int64
Feedback            object
Month               object
dtype: object

In [5]:
# Assess data quality and completeness
# Check for missing values
missing_values = log_data_df.isnull().sum()
print("Missing values in the dataset:")
print(missing_values)

Missing values in the dataset:
Time                0
Date                0
IP Address          0
Sport Viewed        0
Country             0
Continent           0
Gender              0
Age                 0
Season              0
Session Duration    0
Engagement Time     0
Request             0
Rating              0
Feedback            0
Month               0
dtype: int64

In [6]:
# Remove duplicates
log_data_df = log_data_df.drop_duplicates()

In [7]:
# 3. Handle outliers
# Calculate z-scores for numerical columns
z_scores = log_data_df.select_dtypes(include='number').apply(zscore)

# Compute row-wise sum of z-scores
z_scores['total_z_score'] = z_scores.abs().sum(axis=1)

# Set a threshold for outliers (e.g., z-score greater than 3)
threshold = 3
outliers = log_data_df[z_scores['total_z_score'] > threshold]

# Remove outliers
clean_data = log_data_df[~log_data_df.index.isin(outliers.index)]

In [8]:
# 4. Handle inconsistencies
# Convert 'Gender' column to categorical
clean_data['Gender'] = clean_data['Gender'].astype('category')

# Convert specified values in 'Gender' column
clean_data['Gender'] = clean_data['Gender'].cat.rename_categories({'Male': 'M', 'Female': 'F', 'Transgender': 'Trans'})

C:\Users\FBDA20-015\AppData\Local\Temp\ipykernel_12364\3392379520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['Gender'] = clean_data['Gender'].astype('category')
C:\Users\FBDA20-015\AppData\Local\Temp\ipykernel_12364\3392379520.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['Gender'] = clean_data['Gender'].cat.rename_categories({'Male': 'M', 'Female': 'F', 'Transgender': 'Trans'})

In [9]:
# 5. Validate data
# Check for duplicate rows
duplicates = clean_data[clean_data.duplicated()]

In [10]:
# Display columns
print("Columns:", clean_data.columns)

Columns: Index(['Time', 'Date', 'IP Address', 'Sport Viewed', 'Country', 'Continent',
       'Gender', 'Age', 'Season', 'Session Duration', 'Engagement Time',
       'Request', 'Rating', 'Feedback', 'Month'],
      dtype='object')

In [11]:
# Perform feature extraction
selected_features = clean_data[['Date','IP Address', 'Sport Viewed', 'Country', 'Continent','Gender', 'Age', 'Season', 'Session Duration', 'Engagement Time','Request', 'Rating',  'Month']]

In [12]:
# Save the processed dataset
selected_features.to_csv('processed_data.csv', index=False)